.import-file-container {
    position: relative;
    align-items: center;
    justify-content: center;
}

.import-file-container input {
    display: none;
}

.import-file-container:has(input:disabled) {
    background-color: var(--neutral-disable-background-color) !important;
    pointer-events: none !important;
}

.import-file-container:not(.button-only) {
    max-width: 57rem;
    padding: 2.4rem;
    gap: 1.6rem;
    border-radius: 0.8rem;
    border: var(--neutral-bolder-border);
}

.import-file-container:not(.button-only):has(svg.preview-icon) {
    border-style: dashed;
}

.import-file-container>.import-file-prefix:not(*:has(>img)) {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.import-file-container>.import-file-prefix {
    background-color: var(--primary-background);
    align-items: center;
    justify-content: center;
}

.import-file-container>.import-file-prefix>img {
    max-width: 14rem;
    max-height: 8.8rem;
    border-radius: 0.8rem;
}

.import-file-container>.file-preview-content {
    max-width: 100%;
    flex: 1;
    row-gap: 0.4rem;
    align-items: start;
}

.import-file-container.col>.file-preview-content {
    align-items: center;
}

.remove-preview-file {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.6rem;
}

div[class*="Toastify__toast-body"]>div:last-child {
    font: 500 1.2rem/1.6rem;
}

.import-file-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

.import-file-container.helper-text::after {
    content: attr(helper-text);
    color: var(--helper-text-color);
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: max-content;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: inherit;
    transform: translateY(100%);
}