.customer-avatar {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    justify-content: center;
    object-fit: cover;
    border: 1px inset var(--primary-lighter-color, light-dark(#5899f3FF, #0F62D7FF));
}

.report-name-cell>div:has(>svg) {
    display: none;
}

.report-name-cell:hover>div:has(>svg) {
    display: flex;
}

.demo-table {
    position: relative;
}

.table-feature {
    padding: 1.2rem 0;
    gap: 0.8rem;
}

.table {
    width: 100%;
    flex: 1;
    height: 100%;
    scrollbar-width: thin;
    overflow: auto !important;
}

div[class~="resize-cell-stick"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8rem;
    border-left: 2px solid var(--neutral-bolder-background-color, light-dark(#EAEAEC, #242428));
    border-right: 2px solid var(--neutral-bolder-background-color, light-dark(#EAEAEC, #242428));
    background-color: var(--primary-lighter-color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 3.2rem;
    z-index: 10;
    pointer-events: none;
}

.header:has(>div[class~="resize-cell-stick"]) {
    cursor: ew-resize;
}

.table-row,
.header {
    overflow: visible;
    min-width: 100%;
    align-items: stretch;
    width: max-content;
    border-bottom: 1px solid var(--neutral-main-border-color, light-dark(#EAEAEC, #313135));
}

.header {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top: 1px solid var(--neutral-main-border-color, light-dark(#EAEAEC, #313135));
    background-color: var(--neutral-lighter-background-color, light-dark(#F4F4F5, #494950));
}

.table-row {
    background-color: var(--neutral-absolute-background-color, light-dark(#FFFFFF, #14181b));
}

.table-row.clickable {
    cursor: pointer;
}

.cell,
.header-cell {
    min-height: 5.6rem;
    gap: 0.8rem;
    background-color: inherit;
}

.header-cell {
    min-height: 4rem;
}

.last-cell {
    position: sticky;
    right: 0;
}

.table-row:hover {
    background-color: light-dark(#ededed, #262a2d);
}

.table-row:has(.cell:first-child input:checked) {
    background-color: light-dark(#dcdcdc, #373b3d);
}

.header-cell:first-child:has(input[type="checkbox"]),
.cell:first-child:has(input[type="checkbox"]) {
    width: 4rem;
}

.header-cell:first-child:has(label + div),
.cell:first-child:has(label + div) {
    width: 8rem !important;
}

.header-cell:first-child,
.cell:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

.header-cell:first-child:has(input[type="checkbox"])+.header-cell:nth-child(2),
.cell:first-child:has(input[type="checkbox"])+.cell:nth-child(2) {
    position: sticky;
    left: 4rem;
    z-index: 2;
}

.header-cell:first-child:has(label + div)+.header-cell:nth-child(2),
.cell:first-child:has(label + div)+.cell:nth-child(2) {
    left: 8rem !important;
}

.header-cell>.title,
.cell>.content {
    height: 100%;
    width: 100%;
    gap: inherit;
    flex: 1;
    padding: 0.8rem 1.6rem;
}

.header-cell:first-child:has(input[type="checkbox"])>.title,
.cell:first-child:has(input[type="checkbox"])>.content {
    padding-right: 0.4rem;
    justify-content: end;
}

.cell>.content {
    flex-wrap: wrap;
}

.table-row .add-child-icon-btn {
    display: none;
}

.table-row:hover .cell:has(.add-child-icon-btn) p {
    flex: none !important;
    max-width: calc(100% - 5.2rem) !important;
}

.table-row:hover .add-child-icon-btn {
    display: flex !important;
}

.column-action-icon {
    font-size: 0.8rem !important;
    padding: 0.6rem !important;
    border-radius: 0.4rem;
    display: none !important;
    background-color: var(--neutral-absolute-background-color, light-dark(#FFFFFF, #14181b));
}

.column-sort-icon>svg {
    font-size: 1.4rem;
    color: var(--primary-main-color, #287CF0);
    background-color: var(--primary-background, light-dark(#ECF3FE, #031630));
    border-radius: 50%;
}

.header-cell:hover,
.header-cell:has(>div[class~="hidden-overlay"]) {
    background-color: light-dark(#ededed, #262a2d);
}

.column-action-sort-icon {
    display: none !important;
}

.header-cell:hover .column-action-icon,
.header-cell:hover .column-action-sort-icon,
.header-cell:has(>div[class~="hidden-overlay"]) .column-action-icon {
    display: flex !important;
}

.add-child-table-row {
    position: sticky;
    left: 0;
    width: 100%;
    height: 4.8rem;
    gap: 1.6rem;
    align-items: start;
    border-bottom: 1px solid var(--neutral-main-border-color, light-dark(#EAEAEC, #313135))
}

.add-child-table-row button {
    gap: 4px;
    color: var(--neutral-text-placeholder-color, #878792);
    padding: 1rem 1.6rem;
    margin-left: calc(8rem + 16px);
    margin-top: 0.2rem;
}

.add-child-table-row button:hover {
    background-color: var(--neutral-hover-background-color, light-dark(#18181B0A, #FFFFFF0A));
}

.table-img {
    max-width: 100%;
}

.table-img:has(>img) {
    position: relative;
    height: 4rem;
    width: 6rem;
    overflow: hidden;
    box-shadow: var(--shadow-card, 0px 3px 4px 0px rgba(0, 0, 0, .03));
}

.table-img:hover>div {
    text-decoration: underline;
}

.table-img>img {
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
    transition: scale ease-in-out 0.2s;
}

.table-img:hover>img {
    scale: 1.1;
}

.table-img[img-length]:after {
    content: attr(img-length);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    color: #fff;
    font: 600 1.4rem "Inter";
    border-radius: 0.4rem;
}

.dropdown-select-btn {
    width: 20rem;
    gap: 0.8rem;
    padding: 0.4rem 1.2rem;
    border: 1px solid var(--neutral-main-border-color, light-dark(#EAEAEC, #313135));
    border-radius: 0.8rem;
}

.dropdown-select-btn:active {
    border-color: var(--primary-main-color, #287CF0);
}

.dropdown-select-btn:disabled {
    cursor: context-menu;
    border: none;
    color: var(--neutral-text-placeholder-color, #878792);
    background-color: var(--neutral-lighter-background-color, light-dark(#F4F4F5, #494950));
}

.dropdown-select-btn:disabled * {
    cursor: context-menu;
}

.dropdown-select-btn:disabled>div:has(>svg):last-child {
    display: none;
}

.key-option-tile {
    gap: 0.8rem;
    height: 3.2rem;
    padding: 0 0.8rem;
    border-radius: 0.8rem;
}

.input-action-title {
    border-color: transparent !important;
    flex: 1;
}

.key-option-tile:hover .input-action-title,
.input-action-title:focus {
    border-color: 1px solid var(--neutral-main-border-color, light-dark(#EAEAEC, #313135)-color) !important;
}

.button-filter {
    border-radius: 0.8rem;
    border: 1px solid var(--neutral-main-border-color, light-dark(#EAEAEC, #313135));
    height: 3.2rem;
    padding: 0 1.2rem;
    gap: 0.8rem;
    width: 100%;
}

.button-filter:active {
    border-color: var(--primary-main-color, #287CF0);
}

.button-filter:hover {
    background-color: var(--neutral-hover-background-color, light-dark(#18181B0A, #FFFFFF0A));
}

div:has(.selected-item-options) {
    position: relative;
}

.selected-item-options {
    position: absolute;
    width: calc(100% - 3.2rem);
    max-width: 972px;
    height: 4.2rem;
    padding: 0 2.4rem;
    border-radius: 0.8rem;
    background-color: var(--neutral-main-reverse-background-color, light-dark(#242428, #EFEFF0));
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.selected-item-total {
    gap: 4px;
    height: 2.4rem;
    padding: 0 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid var(--neutral-lighter-reverse-border-color, #494950);
}

.selected-item-total * {
    color: var(--neutral-text-body-reverse-color, #EAEAEC) !important;
}

.selected-item-actions {
    flex: 1;
    justify-content: end;
    gap: 1.2rem;
}

.html-value-cell * {
    text-align: justify;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}

.divider {
    background-color: var(--neutral-main-border-color, light-dark(#EAEAEC, #313135));
    height: 12px;
    width: 1px;
}