.button-container {
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    gap: 0.8rem;
    justify-content: center;
    color: var(--neutral-text-subtitle-color, #61616B);
    width: fit-content;
    outline: none;
}

.button-container[class~="border"] {
    border: 1px inset var(--neutral-bolder-border-color, #D7D7DB);
}

.button-container[class~="dashed"] {
    border-style: dashed;
    color: hsla(hue, saturation, lightness, alpha);
}

.button-container[class~="size64"] {
    padding: 2rem 2.4rem;
}

.button-container[class~="size56"] {
    padding: 1.6rem 2rem;
}

.button-container[class~="size48"] {
    padding: 1.2rem 2rem;
}

.button-container[class~="size40"] {
    padding: 0.9rem 1.6rem;
}

.button-container[class~="size24"] {
    padding: 0.4rem 0.8rem;
}

.button-label {
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    font-style: inherit;
}

.button-container[class~="button-grey"] {
    background-color: var(--neutral-main-background-color, #EFEFF0) !important;
    border-color: var(--neutral-main-background-color, #EFEFF0) !important;
}

.button-container[class~="button-grey"] * {
    color: var(--neutral-text-subtitle-color, #61616B) !important;
    --color: var(--neutral-text-subtitle-color, #61616B) !important;
}

.button-container[class~="button-primary"] {
    background-color: var(--primary-main-color, #287CF0) !important;
    border-color: var(--primary-main-color, #287CF0) !important;
}

.button-container[class~="button-primary"] * {
    color: var(--neutral-text-stable-color, #FFFFFF) !important;
    --color: var(--neutral-text-stable-color, #FFFFFF) !important;
}

.button-container[class~="button-neutral"] {
    border-color: var(--neutral-bolder-border-color) !important;
}

.button-container[class~="button-neutral"] * {
    color: var(--neutral-text-subtitle-color, #61616B) !important;
    --color: var(--neutral-text-subtitle-color, #61616B) !important;
}

.button-container[class~="button-neutral"] {
    border-color: var(--neutral-bolder-border-color, #D7D7DB) !important;
}

.button-container[class~="button-black"] * {
    color: var(--neutral-text-title-reverse-color, #F4F4F5) !important;
    --color: var(--neutral-text-title-reverse-color, #F4F4F5) !important;
}

.button-container[class~="button-black"] {
    background-color: var(--neutral-absolute-reverse-background-color, #000000) !important;
    border-color: var(--neutral-bolder-reverse-border-color, #000000) !important;
}

.button-container[class~="button-white"] * {
    color: var(--neutral-text-title-color, #18181B) !important;
    --color: var(--neutral-text-title-color, #18181B) !important;
}

.button-container[class~="button-white"] {
    background-color: var(--neutral-absolute-background-color, #FFFFFF) !important;
    border-color: var(--neutral-bolder-border-color, #D7D7DB) !important;
}

.button-container[class~="button-infor"] {
    border-color: var(--infor-main-color, #287CF0) !important;
}

.button-container[class~="button-infor"] * {
    color: var(--infor-main-color, #287CF0) !important;
    --color: var(--infor-main-color, #287CF0) !important;
}

.button-container[class~="button-warning"] {
    border-color: var(--warning-main-color, #FC7A1C) !important;
}

.button-container[class~="button-warning"] * {
    color: var(--warning-main-color, #FC7A1C) !important;
    --color: var(--warning-main-color, #FC7A1C) !important;
}

.button-container[class~="button-error"] {
    border-color: var(--error-main-color, #E14337) !important;
}

.button-container[class~="button-error"] * {
    color: var(--error-main-color, #E14337) !important;
    --color: var(--error-main-color, #E14337) !important;
}

.button-container[class~="button-success"] {
    border-color: var(--success-main-color, #3AAC6D) !important;
}

.button-container[class~="button-success"] * {
    color: var(--success-main-color, #3AAC6D) !important;
    --color: var(--success-main-color, #3AAC6D) !important;
}

.button-container[class~="button-infor-main"] {
    background-color: var(--infor-main-color, #287CF0) !important;
    border-color: var(--infor-main-color, #287CF0) !important;
}

.button-container[class~="button-warning-main"] {
    background-color: var(--warning-main-color, #FC7A1C) !important;
    border-color: var(--warning-main-color, #FC7A1C) !important;
}

.button-container[class~="button-error-main"] {
    background-color: var(--error-main-color, #E14337) !important;
    border-color: var(--error-main-color, #E14337) !important;
}

.button-container[class~="button-success-main"] {
    background-color: var(--success-main-color, #3AAC6D) !important;
    border-color: var(--success-main-color, #3AAC6D) !important;
}

.button-container[class~="button-infor-main"] *,
.button-container[class~="button-warning-main"] *,
.button-container[class~="button-error-main"] *,
.button-container[class~="button-success-main"] * {
    color: var(--neutral-text-stable-color, #FFFFFF) !important;
    --color: var(--neutral-text-stable-color, #FFFFFF) !important;
}

button:has(> .button-label):hover {
    opacity: 0.86;
}

button:has(> .button-label):focus {
    box-shadow: 0px 4px 20px 0px #0000001A inset;
}

button:has(> .button-label):disabled {
    pointer-events: none;
    background-color: var(--neutral-disable-background-color, #dddde1) !important;
    border-color: var(--neutral-bolder-border-color, #D7D7DB) !important;
}

button:has(> .button-label):disabled * {
    color: var(--neutral-text-disabled-color, #A2A2AA) !important;
    --color: var(--neutral-text-disabled-color, #A2A2AA) !important;
}