.button-container {
    padding: 0.4rem 1.2rem;
    border-radius: 0.8rem;
    gap: 0.8rem;
    justify-content: center;
    color: var(--neutral-text-subtitle-color, #61616B);
    width: fit-content;
    border: 1px solid transparent;
}

.button-container[class~="border"] {
    border: var(--neutral-bolder-border);
}

.tag-container[class~="dashed"] {
    border: 1px dashed var(--neutral-bolder-border-color);
}

.button-container[class~="size64"] {
    padding: 1.9rem 2.4rem;
}

.button-container[class~="size56"] {
    padding: 1.5rem 2rem;
}

.button-container[class~="size48"] {
    padding: 1.1rem 2rem;
}

.button-container[class~="size40"] {
    padding: 0.8rem 1.6rem;
}

.button-container[class~="size24"] {
    padding: 0.3rem 0.8rem;
}

.button-container>.button-label {
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    font-style: inherit;
}

button[class~="button-grey"],
a[class~="button-grey"] {
    background-color: var(--neutral-main-background-color) !important;
    border-color: var(--neutral-main-background-color) !important;
}

button[class~="button-grey"] *,
a[class~="button-grey"] * {
    color: var(--neutral-text-subtitle-color) !important;
    --color: var(--neutral-text-subtitle-color) !important;
}

button[class~="button-primary"],
a[class~="button-primary"] {
    background-color: var(--primary-main-color) !important;
    border-color: var(--primary-main-color) !important;
}

button[class~="button-primary"] *,
a[class~="button-primary"] * {
    color: var(--neutral-text-stable-color) !important;
    --color: var(--neutral-text-stable-color) !important;
}

button[class~="button-neutral"],
a[class~="button-neutral"] {
    border-color: var(--neutral-bolder-border-color) !important;
}

button[class~="button-neutral"] *,
a[class~="button-neutral"] * {
    color: var(--neutral-text-subtitle-color) !important;
    --color: var(--neutral-text-subtitle-color) !important;
}

button[class~="button-infor"],
a[class~="button-infor"] {
    border-color: var(--infor-main-color) !important;
}

button[class~="button-infor"] *,
a[class~="button-infor"] * {
    color: var(--infor-main-color) !important;
    --color: var(--infor-main-color) !important;
}

button[class~="button-warning"],
a[class~="button-warning"] {
    border-color: var(--warning-main-color) !important;
}

button[class~="button-warning"] *,
a[class~="button-warning"] * {
    color: var(--warning-main-color) !important;
    --color: var(--warning-main-color) !important;
}

button[class~="button-error"],
a[class~="button-error"] {
    border-color: var(--error-main-color) !important;
}

button[class~="button-error"] *,
a[class~="button-error"] * {
    color: var(--error-main-color) !important;
    --color: var(--error-main-color) !important;
}

button[class~="button-success"],
a[class~="button-success"] {
    border-color: var(--success-main-color) !important;
}

button[class~="button-success"] *,
a[class~="button-success"] * {
    color: var(--success-main-color) !important;
    --color: var(--success-main-color) !important;
}

button[class~="button-infor-main"],
a[class~="button-infor-main"] {
    background-color: var(--infor-main-color) !important;
    border: var(--infor-main-color) !important;
}

button[class~="button-warning-main"],
a[class~="button-warning-main"] {
    background-color: var(--warning-main-color) !important;
    border: var(--warning-main-color) !important;
}

button[class~="button-error-main"],
a[class~="button-error-main"] {
    background-color: var(--error-main-color) !important;
    border: var(--error-main-color) !important;
}

button[class~="button-success-main"],
a[class~="button-success-main"] {
    background-color: var(--success-main-color) !important;
    border-color: var(--success-main-color) !important;
}

button[class~="button-infor-main"] *,
a[class~="button-infor-main"] *,
button[class~="button-warning-main"] *,
a[class~="button-warning-main"] *,
button[class~="button-error-main"] *,
a[class~="button-error-main"] *,
button[class~="button-success-main"] *,
a[class~="button-success-main"] * {
    color: var(--neutral-text-stable-color) !important;
    --color: var(--neutral-text-stable-color) !important;
}

button.button-container:hover {
    opacity: 0.95;
}

button.button-container:focus {
    box-shadow: 0px 4px 20px 0px #0000001A inset;
}

.button-container:disabled {
    pointer-events: none;
    background-color: var(--neutral-disable-background-color, #dddde1) !important;
    border-color: var(--neutral-bolder-border-color, #D7D7DB) !important;
}

.button-container:disabled * {
    color: var(--neutral-text-disabled-color) !important;
    --color: var(--neutral-text-disabled-color) !important;
}