.tag-container {
    padding: 3px 7px;
    border-radius: 100rem;
    gap: 6px;
    justify-content: center;
    color: var(--neutral-text-subtitle-color, #61616B);
    border: var(--neutral-bolder-border);
}

.tag-container[class~="dashed"] {
    border-style: dashed;
}

.tag-container[class~="size32"] {
    padding: 4px 11px;
    gap: 8px;
}

.tag-container.type-button {
    cursor: pointer;
}

.tag-container>.tag-label {
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: inherit;
}

.tag-container.disabled {
    color: var(--neutral-text-disabled-color);
    background-color: var(--neutral-disable-background-color) !important;
    border-color: var(--neutral-disable-background-color) !important;
    pointer-events: none !important;
}

.tag-container[class~="tag-primary"] {
    background-color: var(--primary-main-color) !important;
    border-color: var(--primary-main-color) !important;
}

.tag-container[class~="tag-primary"] * {
    color: var(--neutral-text-stable-color) !important;
    --color: var(--neutral-text-stable-color) !important;
}

.tag-container[class~="tag-grey"] {
    border-color: var(--neutral-bolder-border-color) !important;
    background-color: var(--neutral-main-background-color) !important;
}

.tag-container[class~="tag-grey"] * {
    color: var(--neutral-text-subtitle-color) !important;
    --color: var(--neutral-text-subtitle-color) !important;
}

.tag-container[class~="tag-neutral"] {
    border-color: var(--neutral-bolder-border-color) !important;
}

.tag-container[class~="tag-neutral"] * {
    color: var(--neutral-text-subtitle-color) !important;
    --color: var(--neutral-text-subtitle-color) !important;
}

.tag-container[class~="tag-infor"] {
    background-color: var(--infor-background);
    border-color: var(--infor-main-color) !important;
}

.tag-container[class~="tag-infor"] * {
    color: var(--infor-main-color) !important;
    --color: var(--infor-main-color) !important;
}

.tag-container[class~="tag-warning"] {
    background-color: var(--warning-background);
    border-color: var(--warning-main-color) !important;
}

.tag-container[class~="tag-warning"] * {
    color: var(--warning-main-color) !important;
    --color: var(--warning-main-color) !important;
}

.tag-container[class~="tag-error"] {
    background-color: var(--error-background);
    border-color: var(--error-main-color) !important;
}

.tag-container[class~="tag-error"] * {
    color: var(--error-main-color) !important;
    --color: var(--error-main-color) !important;
}

.tag-container[class~="tag-success"] {
    background-color: var(--success-background);
    border-color: var(--success-main-color) !important;
}

.tag-container[class~="tag-success"] * {
    color: var(--success-main-color) !important;
    --color: var(--success-main-color) !important;
}