.tag-container {
    padding: 3px 7px;
    border-radius: 100rem;
    gap: 6px;
    justify-content: center;
}

.tag-container[class~="border"] {
    border: var(--neutral-main-border);
}

.tag-container[class~="size32"] {
    padding: 4px 11px;
    gap: 8px;
}

.tag-container.type-button {
    cursor: pointer;
}

/* 
INFOR = 1
ERROR = 2
WARNING = 3
SUCCSESS = 4
*/

.tag-container[tag-type="default"] {
    color: var(--neutral-text-subtitle-color);
    background-color: var(--neutral-main-background-color);
    border: 1px solid var(--neutral-bolder-background-color);
}

.tag-container[tag-type="1"] {
    color: var(--infor-main-color);
    background-color: var(--infor-background);
    border: 1px solid var(--infor-main-color);
}

.tag-container[tag-type="2"] {
    color: var(--error-main-color);
    background-color: var(--error-background);
    border: 1px solid var(--error-main-color);

}

.tag-container[tag-type="3"] {
    color: var(--warning-main-color);
    background-color: var(--warning-background);
    border: 1px solid var(--warning-main-color);
}

.tag-container[tag-type="4"] {
    color: var(--success-main-color);
    background-color: var(--success-background);
    border: 1px solid var(--success-main-color);
}

.tag-container>.tag-label {
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: inherit;
}

.tag-container.disabled {
    color: var(--neutral-text-disabled-color);
    background-color: var(--neutral-disable-background-color) !important;
    border-color: var(--neutral-disable-background-color) !important;
    pointer-events: none !important;
}

.tag-container[class~="tag-grey"] {
    background-color: var(--neutral-main-background-color) !important;
}

.tag-container[class~="tag-grey"] * {
    color: var(--neutral-text-subtitle-color) !important;
    --color: var(--neutral-text-subtitle-color) !important;
}

.tag-container[class~="tag-primary"] {
    background-color: var(--primary-main-color) !important;
    border-color: var(--primary-main-color) !important;
}

.tag-container[class~="tag-primary"] * {
    color: var(--neutral-text-stable-color) !important;
    --color: var(--neutral-text-stable-color) !important;
}

.tag-container[class~="tag-neutral"] {
    border-color: var(--neutral-bolder-border-color) !important;
}

.tag-container[class~="tag-neutral"] * {
    color: var(--neutral-text-subtitle-color) !important;
    --color: var(--neutral-text-subtitle-color) !important;
}

.tag-container[class~="tag-infor"] {
    background-color: var(--infor-background) !important;
    border-color: var(--infor-main-color) !important;
}

.tag-container[class~="tag-infor"] * {
    color: var(--infor-main-color) !important;
    --color: var(--infor-main-color) !important;
}

.tag-container[class~="tag-warning"] {
    background-color: var(--warning-background) !important;
    border-color: var(--warning-main-color) !important;
}

.tag-container[class~="tag-warning"] * {
    color: var(--warning-main-color) !important;
    --color: var(--warning-main-color) !important;
}

.tag-container[class~="tag-error"] {
    background-color: var(--error-background) !important;
    border-color: var(--error-main-color) !important;
}

.tag-container[class~="tag-error"] * {
    color: var(--error-main-color) !important;
    --color: var(--error-main-color) !important;
}

.tag-container[class~="tag-success"] {
    background-color: var(--success-background) !important;
    border-color: var(--success-main-color) !important;
}

.tag-container[class~="tag-success"] * {
    color: var(--success-main-color) !important;
    --color: var(--success-main-color) !important;
}