:root {
    --primary-color: #0968D3;
    --infor-color: #366AE2;
    --infor-background: #EDF2FD;
    --success-color: #39AC6D;
    --success-background: #E8F7EF;
    --warning-color: #FC6B03;
    --warning-background: #FFF3EB;
    --error-color: #E14337;
    --error-background: #FCEEED;
    --background: #F2F5F8;
    --hover-background: #f1f1f1;
    --selected-background: #C0CBD83D;
    --disabled-background: #f5f7fa;
    --disabled-font-color: #9fb0c7b3;
    --border-grey1: 1px solid #00358014;
}