:root {
    --primary-color: #0968D3;
    --primary-background: #ECF3FE;
    --focus-border: #366AE2;
    --infor-color: #366AE2;
    --infor-background: #EDF2FD;
    --success-color: #39AC6D;
    --success-background: #E8F7EF;
    --warning-color: #FC6B03;
    --warning-background: #FFF3EB;
    --error-color: #E14337;
    --error-background: #FCEEED;
    --neutral-text-color-title: #18181b;
    --neutral-text-color-subtitle: #61616b;
    --neutral-text-color-body: #313135;
    --neutral-text-color-label: #313135;
    --neutral-border: 1px solid #d7d7db;
    --neutral-background-main: #F2F5F8;
    --hover-background: #f1f1f1;
    --selected-background: #C0CBD83D;
    --disabled-color: #D7D7DB;
    --disabled-background: #f5f7fa;
    --disabled-font-color: #A2A2AA;
    --shadow-top: 0px -1px 6px 0px #2D32390F;
    --shadow-bottom: 0px 1px 6px 0px #2D32390F;
    --shadow-right: 1px 0px 6px 0px #2D32390F;
    --shadow-left: -1px 0px 6px 0px #2D32390F;
    --shadow-dropdown: 2px 0px 16px 0px #0000000A;
}