.regular0,
.subtitle-5 {
    line-height: 1.4rem;
    font-size: 1rem;
    color: var(--neutral-text-color-title);
}

.regular1,
.subtitle-4,
.button-text-6,
.label-5 {
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: var(--neutral-text-color-title);
}

.regular2,
.subtitle-3,
.body-3,
.button-text-4,
.label-4,
.placeholder-2 {
    line-height: 2.2rem;
    font-size: 1.4rem;
    color: var(--neutral-text-color-title);
}

.regular3,
.subtitle-2,
.body-2,
.label-2,
.placeholder-1 {
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: var(--neutral-text-color-title);
}

.regular4,
.subtitle-1,
.body-1 {
    line-height: 2.8rem;
    font-size: 2rem;
    color: var(--neutral-text-color-title);
}

.regular5 {
    line-height: 3.2rem;
    font-size: 2.4rem;
    color: var(--neutral-text-color-title);
}

.regular6 {
    line-height: 3.8rem;
    font-size: 3rem;
    color: var(--neutral-text-color-title);
}

.regular7 {
    line-height: 4.6rem;
    font-size: 3.8rem;
    color: var(--neutral-text-color-title);
}

.regular8 {
    line-height: 5.6rem;
    font-size: 4.6rem;
    color: var(--neutral-text-color-title);
}

.regular9 {
    line-height: 6.8rem;
    font-size: 5.6rem;
    color: var(--neutral-text-color-title);
}

.medium1,
.button-text-5 {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium2,
.button-text-3,
.label-3 {
    line-height: 2.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium3,
.button-text-2,
.label-1 {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium4,
.highlight-6 {
    line-height: 2.8rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium5,
.highlight-5 {
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium6,
.highlight-4 {
    line-height: 3.8rem;
    font-size: 3rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium7,
.highlight-3 {
    line-height: 4.6rem;
    font-size: 3.8rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium8,
.highlight-2 {
    line-height: 5.6rem;
    font-size: 4.6rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.medium9,
.highlight-1 {
    line-height: 6.8rem;
    font-size: 5.6rem;
    font-weight: 500;
    color: var(--neutral-text-color-title);
}

.semibold1,
.heading-9 {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold2,
.heading-8 {
    line-height: 2.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold3,
.heading-7,
.button-text-1 {
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold4,
.heading-6 {
    line-height: 2.8rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold5,
.heading-5 {
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold6,
.heading-4 {
    line-height: 3.8rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold7,
.heading-3 {
    line-height: 4.6rem;
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold8,
.heading-2 {
    line-height: 5.6rem;
    font-size: 4.6rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.semibold9,
.heading-1 {
    line-height: 6.8rem;
    font-size: 5.6rem;
    font-weight: 600;
    color: var(--neutral-text-color-title);
}

.subtitle-1 {
    color: var(--neutral-text-color-subtitle);
}

.subtitle-2 {
    color: var(--neutral-text-color-subtitle);
}

.subtitle-3 {
    color: var(--neutral-text-color-subtitle);
}

.subtitle-4 {
    color: var(--neutral-text-color-subtitle);
}

.subtitle-5 {
    color: var(--neutral-text-color-subtitle);
}

.body-1 {
    color: var(--neutral-text-color-body);
}

.body-2 {
    color: var(--neutral-text-color-body);
}

.body-3 {
    color: var(--neutral-text-color-body);
}

.button-text-1 {
    color: var(--primary-color);
}

.button-text-2 {
    color: var(--primary-color);
}

.button-text-3 {
    color: var(--primary-color);
}

.button-text-4 {
    color: var(--primary-color);
}

.button-text-5 {
    color: var(--primary-color);
}

.button-text-6 {
    color: var(--primary-color);
}

.label-1 {
    color: var(--neutral-text-color-label);
}

.label-2 {
    color: var(--neutral-text-color-label);
}

.label-3 {
    color: var(--neutral-text-color-label);
}

.label-4 {
    color: var(--neutral-text-color-label);
}

.label-5 {
    color: var(--neutral-text-color-label);
}

.placeholder-1 {
    color: var(--neutral-text-color-subtitle);
}

.placeholder-2 {
    color: var(--neutral-text-color-subtitle);
}