.date-time-picker {
    padding: 0.8rem 1.6rem;
    gap: 0.4rem;
    border-radius: 0.8rem;
    text-align: start;
}

.date-time-picker>.prefix-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.8rem;
    border-radius: 50%;
    border: 1px dashed var(--neutral-text-subtitle-color, light-dark(#61616B, #A2A2AA))
}

.date-time-picker>.value,
.simple-date-time-picker>.value {
    flex: 1;
    width: 100%;
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-overflow: inherit;
    text-decoration: inherit;
    font-style: inherit;
}

.date-time-picker>input,
.simple-date-time-picker>input {
    outline: none;
    border: none;
    background-color: transparent !important;
}

.date-time-picker:has(>input) {
    padding: 0.7rem 1.6rem;
    border: var(--neutral-main-border, 1px solid light-dark(#EAEAEC, #313135));
}

.date-time-picker:has(>input):focus-within {
    border-color: var(--primary-main-color, #287CF0);
}

.date-time-picker:has(> input:disabled),
.date-time-picker.disabled {
    background-color: var(--neutral-disable-background-color, light-dark(#F4F4F5, #494950)) !important;
    pointer-events: none !important;
}

.date-time-picker:hover {
    background-color: var(--neutral-hover-background-color, light-dark(#18181B0A, #FFFFFF0A));
}

.date-time-picker:focus {
    box-shadow: 0px 4px 20px 0px #0000001A inset;
}

.date-time-picker.helper-text,
.simple-date-time-picker.helper-text {
    position: relative;
    overflow: visible !important;
    border-color: var(--helper-text-color, #E14337) !important;
}

.date-time-picker.helper-text::after,
.simple-date-time-picker.helper-text::after {
    content: attr(helper-text);
    color: var(--helper-text-color, #E14337);
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: max-content;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: inherit;
    transform: translateY(100%);
}

@keyframes show-dropdown {
    0% {
        opacity: 0;
        height: 0;
        width: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.calendar-popup {
    position: fixed;
    animation: show-dropdown 0.4s ease-in-out;
    background-color: var(--neutral-absolute-background-color, light-dark(#FFFFFF, #14181b));
    border-radius: 0.8rem;
    z-index: 999;
    box-shadow: 2px 0px 16px 0px #0000000A;
    overflow: hidden auto;
}

.calendar-popup .header {
    flex-wrap: wrap;
    gap: 0.8rem 1.2rem;
    padding: 1.6rem;
    border-bottom: var(--neutral-main-border, 1px solid light-dark(#EAEAEC, #313135));
}

.options-dropdown {
    position: fixed;
    animation: show-dropdown 0.4s ease-in-out;
    background-color: var(--neutral-absolute-background-color, light-dark(#FFFFFF, #14181b));
    border-radius: 0.8rem;
    z-index: 9999;
    box-shadow: 2px 0px 16px 0px #0000000A;
    overflow: hidden auto;
    max-height: 24rem;
    min-width: 10rem;
    padding: 0.8rem;
    scrollbar-width: thin;
    border: var(--neutral-main-border, 1px solid light-dark(#EAEAEC, #313135))
}

.options-dropdown>button {
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
}

.options-dropdown>button:hover {
    background-color: var(--neutral-hover-background-color, light-dark(#18181B0A, #FFFFFF0A));
}