.popup-overlay {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100dvw !important;
    height: 100dvh !important;
    background-color: #000000B2;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.popup-container {
    position: relative;
    background-color: var(--neutral-absolute-background-color);
    border-radius: 0.8rem;
    border: var(--neutral-main-border);
    overflow: visible;
    max-width: 86%;
    max-height: 80%;
}

.popup-header {
    align-items: center;
    justify-content: start;
    padding: 1.6rem 2.4rem;
    border-bottom: var(--neutral-main-border);
}

.popup-footer {
    column-gap: 0.8rem;
    justify-content: end;
    padding: 1.2rem 2.4rem;
    border-top: var(--neutral-main-border);
}

.popup-container>.popup-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.6rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-absolute-background-color);
    box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, .1);
}

.popup-overlay.hidden-overlay {
    background-color: transparent;
    width: fit-content !important;
    height: fit-content !important;
}

.popup-overlay.hidden-overlay>* {
    position: fixed !important;
    z-index: 99;
    border-radius: 0.8rem;
    background-color: var(--neutral-absolute-background-color);
}

.popup-overlay>* {
    transition: width 0.8s ease-in-out, max-width 0.8s ease-in-out, height 0.8s ease-in-out, max-height 0.8s ease-in-out, border-radius 0.8s ease-in-out;
    box-shadow: 2px 0px 16px 0px hsla(0, 0%, 0%, 0.04);
}

.popup-overlay.hidden-overlay>.popup-container {
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: transparent;
}

.popup-overlay.hidden-overlay>.popup-container .popup-close-btn {
    display: none !important;
}

@keyframes open-drawer-right-to-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.right-drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    animation: open-drawer-right-to-left 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes open-drawer-left-to-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.left-drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    animation: open-drawer-left-to-right 0.6s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes show-dropdown-popup {
    0% {
        opacity: 0;
        height: 0;
        width: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.dropdown-popup {
    animation: show-dropdown-popup 0.4s ease-in-out;
    position: fixed;
    border: var(--neutral-main-border);
    border-radius: 0.8rem;
    padding: 4px;
}