.custom-pagination {
    height: 24px;
    gap: 1.6rem;
}

.custom-pagination>.row,
.simple-custom-pagination>.row {
    gap: 1.6rem;
    height: 100%;
}

.items-per-page-container {
    gap: 8px;
    height: 100%;
}

.pagination {
    gap: 0.8rem;
    margin: 0;
    padding: 0;
}

.pagination>li {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--neutral-text-subtitle-color,light-dark(#61616B, #A2A2AA));
    justify-content: center;
    border-radius: 0.4rem;
    font-weight: 600;
}

.pagination>li * {
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-align: inherit;
    letter-spacing: inherit;
}

.pagination>li.active {
    background-color: var(--infor-background, light-dark(#ECF3FE, #031630));
}

.pagination>li.active {
    color: var(--infor-main-color, #287CF0);
}