.checkbox-container {
    position: relative;
    border-radius: 0.4rem;
    border: var(--neutral-bolder-border-color);
    background-color: transparent;
    transition: border, background-color 0.4s;
    cursor: pointer;
}

.checkbox-container>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container>svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0 !important;
    transition: visibility, opacity 0.4s;
}

.checkbox-container>svg>path {
    fill: var(--check-color, #fff);
}

.checkbox-container>input:checked~svg,
.checkbox-container[is-null-value="true"]>svg {
    visibility: visible;
    opacity: 1 !important;
}

.checkbox-container:has(> input:checked),
.checkbox-container[is-null-value="true"] {
    background-color: var(--infor-main-color);
    border: none !important;
}

.checkbox-container:has(> input:disabled) {
    background-color: var(--neutral-disable-background-color) !important;
}

.checkbox-container:has(> input:disabled)>svg>path {
    fill: var(--neutral-text-disabled-color) !important;
}