.wini-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 1.6rem;
    color: var(--neutral-text-subtitle-color, light-dark(#61616B, #A2A2AA));
}

.wini-icon:not(.simple-icon) {
    padding: max(0.2rem, 1px);
}

.wini-icon * {
    color: inherit;
}

.wini-icon>svg {
    width: 1em !important;
    height: 1em !important;
}

.wini-icon[class~="link-icon"]>svg {
    width: auto !important;
    height: auto !important;
}

.wini-icon[class~="fill-icon"]>svg>*[fill^="#"] {
    fill: currentColor;
}

.wini-icon[class~="outline-icon"]>svg>*[stroke^="#"] {
    stroke: currentColor;
}

.wini-icon.clickable {
    cursor: pointer;
}

.wini-icon[class~="icon-button"] {
    border-radius: 50%;
    background-color: var(--neutral-main-background-color, light-dark(#EFEFF0, #313135));
}

.wini-icon[class~="icon-button"][class~="light"] {
    background-color: transparent;
}

.wini-icon[class~="border"] {
    border: var(--neutral-bolder-border, 1px solid light-dark(#D7D7DB, #494950));
}

.wini-icon[class~="dashed"] {
    border-style: dashed;
}

.wini-icon[class~="size64"] {
    width: 6.4rem;
    height: 6.4rem;
    font-size: 1.6rem;
}

.wini-icon[class~="size56"] {
    width: 5.6rem;
    height: 5.6rem;
    font-size: 1.6rem;
}

.wini-icon[class~="size48"] {
    width: 4.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
}

.wini-icon[class~="size40"] {
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
}

.wini-icon[class~="size32"] {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.4rem;
}

.wini-icon[class~="size24"] {
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.2rem;
}

@keyframes on-open-tooltip {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tooltip-container {
    position: fixed;
    z-index: 999;
    animation: on-open-tooltip 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.tooltip-container>.tooltip-message {
    color: var(--neutral-text-body-reverse-color, #EAEAEC);
    background-color: var(--neutral-main-reverse-background-color, light-dark(#242428, #EFEFF0));
    padding: 0.4rem 1.2rem;
    border-radius: 0.8rem;
    max-width: 21.2rem;
    text-align: center;
}

.wini-icon[class~="icon-button"]:hover {
    background-color: var(--neutral-hover-background-color, light-dark(#18181B0A, #FFFFFF0A));
}

.wini-icon[class~="icon-button"][class~="light"]:hover {
    background-color: transparent;
    opacity: 0.8;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .09);
}