.wini-icon {
    display: flex;
    width: fit-content;
    height: fit-content;
    --size: 1.6rem;
    --color: var(--neutral-text-subtitle-color);
}

.wini-icon>svg {
    width: var(--size, inherit);
    height: var(--size, inherit);
}

.wini-icon>svg>*[fill^="#"] {
    fill: var(--color, "#61616B");
}

.wini-icon>svg>*[stroke^="#"] {
    stroke: var(--color, "#61616B");
}

.wini-icon[class*="color-icon"]>svg>* {
    fill: unset !important;
    stroke: unset !important;
}