@import url('./skin/color.css');
@import url('./skin/layout.css');
@import url('./skin/typography.css');

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}