.select-multi-container {
    border-radius: 0.8rem;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0.8rem 1.6rem;
    border: var(--neutral-bolder-border-color);
    border-radius: 0.8rem;
    gap: 0.8rem;
    position: relative;
    cursor: context-menu;
}

.select-multi-container:focus-within {
    border-color: var(--primary-main-color);
}

.select-multi-container.disabled {
    background-color: var(--neutral-disable-background-color) !important;
    pointer-events: none !important;
}

.select-multi-container.helper-text {
    overflow: visible !important;
    border-color: var(--helper-text-color) !important;
}

.select-multi-container.helper-text::after {
    content: attr(helper-text);
    color: var(--helper-text-color);
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: max-content;
    font: 400 1.4rem/1.6rem 'Inter';
    transform: translate(-7.5%, 92.5%) scale(0.85);
}

.select-multi-container *:has(input),
.select-multi-container *:has(.selected-item-value),
.select-multi-container input {
    font: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-overflow: inherit;
}

.select-multi-container input {
    flex: 1;
    min-width: 6rem;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
}

.select-multi-container .selected-item-value {
    border-radius: 10rem;
    padding: 0.4rem 0.8rem;
    background-color: var(--neutral-selected-background-color);
    gap: 0.8rem;
}

.select-multi-popup {
    position: absolute;
    z-index: 10;
    background-color: var(--neutral-absolute-background-color);
    border-radius: 0.8rem;
    height: fit-content;
    box-shadow: 0 0 12px 0 #00204d1f;
    align-items: center;
    padding: 0.8rem 0;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px rgba(145, 158, 171, 0.24);
}

.select-multi-popup>.select-body {
    max-height: 100%;
    flex: 1;
    align-items: start;
    max-height: 28rem;
    min-height: 8rem;
    width: 100%;
    padding: 0.6rem 0;
    overflow: hidden auto;
}

.select-multi-popup>.select-body .select-tile {
    justify-content: start;
    align-items: center;
    padding: 0.8rem 1.6rem;
    gap: 0.8rem;
    width: 100%;
    cursor: context-menu;
}

.select-multi-popup>.select-body .select-tile:hover {
    background-color: var(--neutral-hover-background-color);
}

.select-multi-popup>.select-body .select-tile:has(input:checked) {
    background-color: var(--neutral-selected-background-color);
}

.select-multi-popup>.select-body .select-tile.disabled {
    background-color: var(--neutral-disable-background-color) !important;
}

.select-multi-popup>.select-body .select-tile.disabled * {
    color: var(--neutral-text-disabled-color) !important;
}

.no-results-found {
    padding: 0.8rem;
    font: 400 1.4rem/2rem "Inter";
    color: var(--neutral-text-title-reverse-color);
}